<header class="wb-header wb-menu-underline">
	<div class="wb-header-wrap">
		<div class="wb-container-large">
			<div class="wb-brand">
				<a href="/" class="wb-logo">
					<!-- <img src="img/logo.png" alt="Logo"> -->
					<span class="logo_text">Big Brother <span class="logo_text-sq">Studio</span></span>
				</a>
			</div><!-- .wb-brand -->

			<div class="wb-nav">
				<nav class="wb-nav-menu wb-drop-down-nav">
					<ul>
						<li><a href="#services">Услуги</a></li>
						<li><a href="#portfolio">Портфолио</a></li>
						<li><a href="#about">О нас</a></li>
						<li><a href="#contacts">Контакты</a></li>
						<li>
							<a href="#" title="Facebook">
		                        <i class="wb-icon wb-icon-facebook"></i>
	                      </a>
	                    </li>
					</ul>
				</nav><!-- .wb-nav-menu -->
			</div><!-- .wb-nav -->

			<div class="wb-header-toggle">
				<button>
					Меню
					<span class="wb-bar-1"></span>
					<span class="wb-bar-2"></span>
					<span class="wb-bar-3"></span>
					<span class="wb-bar-4"></span>
				</button>
			</div><!-- .wb-header-toggle -->
		</div><!-- .wb-container-large -->
	</div><!-- .wb-header-wrap -->
 </header><!-- .wb-header -->
