<section id="portfolio" class="main__portfolio"> 
	<div class="row">
		<h2 class="title">Портфолио</h2>
		<h3 class="subtitle">Посмотрите наши последние работы</h3>
		<div class="main__portfolio__container">
			<div id="grid-container">
			    
			    <div class="cbp-item">
					<!-- Caption -->
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/atelier-mockup_full.jpg" title="Ателье Ли-Лу" class="cbp-lightbox" data-title="Лендинг ателье с онлайн записью | Wordpress">
					            <img src="img/atelier-mockup_preview.jpg" alt="Ателье Ли-Лу" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>Ателье Ли-Лу</h6>
			                <span>atelier.li-lu.ru</span>
			                <span class="cms">Wordpress</span>
			            </div>
			        </div>
					<!-- Caption -->
				</div>

				<div class="cbp-item">
					<!-- Caption -->
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/baseride-mockup_full.jpg" title="Baseride Global" class="cbp-lightbox" data-title="Сайт приложения | Wordpress">
					            <img src="img/baseride-mockup_preview.jpg" alt="Baseride Global" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>Baseride Global</h6>
			                <span>baseride.global</span>
			                <span class="cms">Wordpress</span>
			            </div>
			        </div>
					<!-- Caption -->
				</div>

				<div class="cbp-item">
					<!-- Caption -->
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/spaseebo-mockup_full.jpg" title="Spaseebo" class="cbp-lightbox" data-title="Интернет-магазин оптики и солнцезащитных очков, заказ линз онлайн | 1С Битрикс">
					            <img src="img/spaseebo-mockup_preview.jpg" alt="Spaseebo" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>Интернет-оптика Spaseebo</h6>
			                <span>spaseebo.ru</span>
			                <span class="cms">1С Битрикс</span>
			            </div>
			        </div>
					<!-- Caption -->
				</div>

				<!-- <div class="cbp-item">
					
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/promixx-mockup_full.jpg" title="PROMiXX" class="cbp-lightbox" data-title="Интернет-магазин электрического шейкера | 1С Битрикс">
					            <img src="img/promixx-mockup_preview.jpg" alt="PROMiXX" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>PROMiXX</h6>
			                <span>promixx.ru</span>
			                <span class="cms">1С Битрикс</span>
			            </div>
			        </div>
					
				</div> -->

				<div class="cbp-item">
					<!-- Caption -->
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/live-mockup_full.jpg" title="Live PR Agency" class="cbp-lightbox" data-title="Лендинг PR-агенства | Wordpress">
					            <img src="img/live-mockup_preview.jpg" alt="Live PR Agency" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>Live PR Agency</h6>
			                <span>livepragency.com</span>
			                <span class="cms">Wordpress</span>
			            </div>
			        </div>
					<!-- Caption -->
				</div>

				<!-- <div class="cbp-item">
					
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/lilu-mockup_full.jpg" title="Ли-Лу" class="cbp-lightbox" data-title="Интернет-магазин модной одежды собственного производства | 1С Битрикс">
					            <img src="img/lilu-mockup_preview.jpg" alt="Ли-Лу" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>Ли-Лу</h6>
			                <span>www.li-lu.ru</span>
			                <span class="cms">1С Битрикс</span>
			            </div>
			        </div>

				</div> -->

				<div class="cbp-item">
					<!-- Caption -->
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/jplus-mockup_full.jpg" title="JPLUS" class="cbp-lightbox" data-title="Интернет-магазин очков | 1С Битрикс">
					            <img src="img/jplus-mockup_preview.jpg" alt="JPLUS" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>JPLUS</h6>
			                <span>jplusvision.ru</span>
			                <span class="cms">1С Битрикс</span>
			            </div>
			        </div>
					<!-- Caption -->
				</div>

				<div class="cbp-item">
					<!-- Caption -->
			    	<div class="cbp-caption">
			            <div class="cbp-caption-defaultWrap">
			                <a href="img/retro-mockup_full.jpg" title="RETROSUPERFUTURE" class="cbp-lightbox" data-title="Интернет-магазин очков | 1С Битрикс">
					            <img src="img/retro-mockup_preview.jpg" alt="RETROSUPERFUTURE" width="100%">
					        </a>
			            </div>
			            <div class="cbp-caption-activeWrap">
			                <h6>RETROSUPERFUTURE</h6>
			                <span>retrosuperfuture.ru</span>
			                <span class="cms">1С Битрикс</span>
			            </div>
			        </div>
					<!-- Caption -->
				</div>

			</div>
		</div>
	</div>
</section>
