<section id="services" class="main__services"> 
	<div class="row">
		<h2 class="title">Услуги</h2>
		<h3 class="subtitle">Big Brother Studio разрабатывает сайты для развития бизнеса наших клиентов, делает это в кратчайшие сроки и с наибольшей эффективностью</h3>
		<div class="main__services__container">
			<div class="main__services__item">
				<i class="icon icon-basic-webpage-img-txt"></i>
				<h4>Создание сайтов</h4>
				<p>Создаем креативные концепции и используем инновационные методы для создания простых и эффективных решений</p>
			</div>
			<div class="main__services__item">
				<i class="icon icon-basic-pencil-ruler"></i>
				<h4>Графический дизайн</h4>
				<p>Разрабатываем эксклюзивный дизайн сайта, от логотипа до баннера</p>
			</div>
			<div class="main__services__item">
				<i class="icon icon-basic-sheet-pencil"></i>
				<h4>Контент-маркетинг</h4>
				<p>Привлечение клиентов с помощью полезного и интересного контента</p>
			</div>
			<div class="main__services__item">
				<i class="icon icon-basic-gunsight"></i>
				<h4>Поисковая оптимизация</h4>
				<p>Повышение позиций сайта в результатах поиска Яндекса и Google по определенным запросам</p>
			</div>
			<div class="main__services__item">
				<i class="icon icon-basic-webpage-multiple"></i>
				<h4>Интеграция с сервисами</h4>
				<p>Интеграция сайтов и интернет-магазинов с сервисами, подключение сервисов к различным ресурсам</p>
			</div>
			<div class="main__services__item">
				<i class="icon icon-basic-settings"></i>
				<h4>Техническая поддержка</h4>
				<p>Техническая поддержка сайта обеспечивает работоспособность проекта 24/7</p>
			</div>
		</div>
	</div>
</section>


