<section id="clients" class="main__clients"> 
	<div class="row">
		<h2 class="title">Наши клиенты</h2>
		<h3 class="subtitle">Довольные клиенты – самое ценное в нашей работе</h3>
		<div class="main__clients__container">
			<div id="js-grid-clients" class="cbp cbp-l-grid-clients">
		        <div class="cbp-item">
                    <img src="img/logo7.jpg" alt="">  
		        </div>
		        <div class="cbp-item">
                    <img src="img/logo6.jpg" alt="">  
		        </div>
		        <div class="cbp-item">
                    <img src="img/logo3.jpg" alt="">  
		        </div>
		        <div class="cbp-item">
                    <img src="img/logo1.jpg" alt="">  
		        </div>
		        <div class="cbp-item">
                    <img src="img/logo5.jpg" alt="">  
		        </div>
		        <div class="cbp-item">
                    <img src="img/logo2.jpg" alt="">  
		        </div>
		        <div class="cbp-item">
                    <img src="img/logo4.jpg" alt="">  
		        </div>
		    </div>

		</div>
	</div>
</section>