<section id="about" class="main__about"> 
	<div class="row">
		<h2 class="title">Почему мы?</h2>
		<h3 class="subtitle">Реализация проекта всегда соответствует поставленным задачам</h3>
		<div class="main__about__container">
			<article class="main__about__item">
				<i class="icon icon-basic-mixer2"></i>
				<h5>Типовые решения</h5>
				<p>Типовое решение — это полностью готовый сайт, который требует всего лишь небольших корректировок (изменить логотип, цвета) и загрузки контента или продуктов.</p>
				<footer>Запустить сайт на типовом решении возможно всего за 2-3 недели.</footer>
			</article>
			<article class="main__about__item">
				<i class="icon icon-basic-pencil-ruler-pen"></i>
				<h5>Индивидуальные проекты</h5>
				<p>Индивидуальный дизайн сайта и система управления соответствующая задачам бизнеса. Весь цикл разработки сайта от идеи до готового сайта.</p>
				<footer>Запустить сайт с индивидуальным дизайном возможно за 2-3 месяца.</footer>
			</article>
			<article class="main__about__item">
				<i class="icon icon-basic-globe"></i>
				<h5>Отраслевые решения</h5>
				<p>Сложные сайты с системами заказа или бронирования. Подойдет для отелей, медицинских центров, автомастерских.</p>
				<footer>Запустить сайт с таким решением возможно за 3-6 месяцев.</footer>
			</article>
		</div>
		
		<div class="main__about__skills">
			<h4>HTML / Css <span>95%</span></h4>
			<h4>Php / MySQL <span>75%</span></h4>
			<h4>Js / jQuery <span>80%</span></h4>
			<h4>Wordpress / 1С Битрикс <span>85%</span></h4>
		</div>
	</div>
</section>